
body {
  font-family: Arial, sans-serif;
  background-color: #a6e0c3; 
  color: #38446b; 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

form {
  background-color: #fff; 
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
input, button {
  font-size: 1em;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
} 
input{
width: 100%;
}
.feedback {
  background-color: #e784db;
  height: 30px;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}
button {
  background-color: #77a0e7; 
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2e3a57;
}
.task-container-for-styling {
  background-color: #fff; 
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 700px;
  margin: 20px 0;
}
.edit-btn, .delete-btn {
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 0.9em;
}

.edit-btn {
  background-color: #77a0e7; 
}

.delete-btn {
  background-color: #e784db; 
}


.edit-btn:hover {
  background-color: #2e3a57;
}
.feedback-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
} 

